## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

# In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)
print(len(sample_list_1))

[72, 27, 60, 52, 76, 6, 19, 64, 100, 58, 95, 61, 97, 42, 17, 96, 8, 69, 4, 91, 22, 11, 84, 44, 87, 37, 98, 77, 41, 21, 34, 30, 15, 86, 33, 54, 32, 45, 55, 81, 53, 50, 47, 56, 89, 90, 10, 39, 66, 83, 24, 0, 25, 20, 75, 28, 9, 7, 71, 13, 23, 1, 57, 63, 78, 62, 51, 14, 99, 26, 36, 5, 93, 46, 38, 43, 68, 35, 67, 48]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set1 = set()
for x in sample_list_1:
    set1.add(x)

print(set1)
print(len(set1))

{0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 75, 76, 77, 78, 81, 83, 84, 86, 87, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [25]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)
print(len(sample_list_2))

[15, 0, 8, 68, 98, 63, 88, 5, 57, 82, 29, 22, 58, 1, 98, 36, 57, 88, 1, 96, 54, 90, 38, 26, 62, 54, 81, 26, 78, 89, 58, 47, 66, 3, 17, 78, 64, 100, 48, 63, 43, 6, 60, 16, 94, 25, 10, 40, 50, 84, 83, 44, 71, 17, 97, 16, 30, 87, 80, 89, 3, 34, 99, 58, 55, 88, 7, 34, 76, 55, 58, 12, 35, 34, 83, 31, 56, 41, 4, 58]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [26]:
# Your code here
set2 = set()
for x in sample_list_2:
    set2.add(x)

print(set2)
print(len(set2))

{0, 1, 3, 4, 5, 6, 7, 8, 10, 12, 15, 16, 17, 22, 25, 26, 29, 30, 31, 34, 35, 36, 38, 40, 41, 43, 44, 47, 48, 50, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 68, 71, 76, 78, 80, 81, 82, 83, 84, 87, 88, 89, 90, 94, 96, 97, 98, 99, 100}
59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [27]:
# Your code here
set3 = set1 - set2
print(set3)
print(len(set3))

{9, 11, 13, 14, 19, 20, 21, 23, 24, 27, 28, 32, 33, 37, 39, 42, 45, 46, 51, 52, 53, 61, 67, 69, 72, 75, 77, 86, 91, 93, 95}
31

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [28]:
# Your code here
set4 = set2 - set1
print(set4)
print(len(set4))

{3, 40, 12, 16, 80, 82, 88, 29, 94, 31}
10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
print(len(set5))

{0, 1, 4, 5, 6, 7, 8, 10, 15, 17, 22, 25, 26, 30, 34, 35, 36, 38, 41, 43, 44, 47, 48, 50, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 68, 71, 76, 78, 81, 83, 84, 87, 89, 90, 96, 97, 98, 99, 100}
49

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [30]:
# Your code here
print(len(set1) + len(set2) >= len(set3) + len(set4) + len(set5))

True

#### Create an empty set called `set6`.

In [31]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [32]:
# Your code here
set6.update(set3)
set6.update(set5)
print (set6)
print(len(set6))

{0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 75, 76, 77, 78, 81, 83, 84, 86, 87, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}
80

#### Check if `set1` and `set6` are equal.

In [33]:
# Your code here
print ("It is ", set1 == set6, "that set1 == set6")

It is  True that set1 == set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [34]:
# Your code here
print("Is set2 contained in set1? ", set2.issubset(set1))
print("Is set3 contained in set1? ", set3.issubset(set1))

Is set2 contained in set1?  False
Is set3 contained in set1?  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [35]:
# Your code here
set7 = set.union(set3,set4,set5)
print(len(set7))
set8 =set.union(set1,set2)
print(len(set8))
print ("union of set3+set4+set5 equal to union of set1+set2?", set7==set8)

90
90
union of set3+set4+set5 equal to union of set1+set2? True

#### Using the `pop` method, remove the first element from `set1`.

In [36]:
# Your code here
# online documenation would have you believe that you can't use pop on a set for this: set.pop() returns a random element
# this is (no longer?) true, repeted calls to set.pop() will pop off the first element (lowest in the sorting order)
print("element returned", set1.pop())
print(len(set1))
print(set1)

element returned 0
79
{1, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 75, 76, 77, 78, 81, 83, 84, 86, 87, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [39]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove:
    if x in set1:
        set1.remove(x)
        
print(set1)
print(len(set1))

{4, 5, 6, 7, 8, 10, 13, 14, 15, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 72, 75, 76, 77, 78, 83, 84, 86, 87, 90, 93, 95, 96, 97, 98, 100}
64